p {
    font-size: 12px;
    display: inline;
}

.vl {
    border-left: 2px solid #e2e2e2;
    height: 40px;
    top: 0;
    margin-right: 15px;
    padding: 0;
}

.l {
    width: 100%;
    margin-top: 0px;
}

.item-inner {
    padding: 0 !important;
}